@import "_vars";
@import "_libs";
@import "_fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    font-family: 'Geometria', sans-serif;
    color: $black;
    height: 100vh;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;  
}

ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;    
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.input{
    padding: 0 10px;
    border: 1px solid $black;
    border-radius: 4px;
    height: 23px;
    background-color: transparent;
}

.header{
    &__inner{
        display: flex;
        padding: 15px 36px;
        align-items: center;
        background-color: #c3d5dc;
        border-radius: 0 0 16px 16px;
    }
    &__logo{
        margin-right: 62.5px;
    }
    &__profile{
        margin-left: 15px;
    }
    &__search{
        margin-left: auto;
    }
    &__menu{
        margin-right: 19px;
    }
}
.logo{
    display: block;
    flex-shrink: 0;
    width: 76px;
    height: 28px;
    &__img{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.menu-block{
    display: flex;
    align-items: center;
    width: 100%;
}

.menu{
    width: 100%;
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20px;
    }
    &__list-project{
        position: relative;
    }
    &__list-project-total{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -15px;
        top: -9px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: #d4c460;
    }
    a{
        border-bottom: 1px solid transparent;
        transition: .3s;
        &:hover{
            border-color: black;
        }
    }
}
.main{
    padding-top: 29px;
}

.profile{
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid transparent;
    transition: .3s;
    &:hover{
        border-color: $black;
    }
}
.title-block{
    display: flex;
    align-items: flex-end;
    padding-top: 25px;
}
.page-title{
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    &__sticker{
        position: absolute;
        font-size: 10px;
        line-height: 14px;
        border-radius: 4px;
        padding: 2px 5px;
        right: -39px;
        top: -8px;
        &--new{
            background-color: #d4c460;
        }
    }
}
.title-menu{
    position: relative;
    padding-left: 10px;
    text-align: left;
        &__button{
            position: relative;
            width: 12px;
            height: 9px;
            z-index: 10;
            &::before, &::after{
                content: '';
                position: absolute;
                left: 0;
                width: 12px;
                height: 3px;
                background-color: $black;
                transition: .3s;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
        }
        &__button.active{
            &::before{
                transform: rotate(45deg) translate(10%, 100%);
            }
            &:after{
                transform: rotate(-45deg) translate(6%, -100%);
            }
        }
    &__list{
        position: absolute;
        display: none;
        border: 2px solid $black;
        border-radius: 4px;
        top: -5px;
        left: 0;
        padding: 25px 8px 14px;
        background-color: $white;
        width: 119px;
    }
    &__list-button{
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
    }

    
}
.project-page{
    &__category{
        position: relative;
        padding-left: 25px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        &:before, &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #c3a57d;
        }
    }

    &__tabs{
        display: flex;
        align-items: center;
        margin-top: 37.5px;
    }

    &__tab{
        padding: 15px 32.5px 12px;
        border: 2px solid #868e9b;
        // border-right: none;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        border-bottom-color: $black;
        &:last-child{
            // border-right: 2px solid #868e9b;
        }
        &.active{
            position: relative;
            background-color: #bbc2ce;
            border-color: $black;
            .project-page__title-menu-button{
                display: inline-block;
            }
        }
    }
    &__tab + &__tab{
        margin-left: -2px;
    }

    &__title-menu-button{
        display: none;
    }
    
    &__title-menu{
        width: 150px;
    }
    &__tab-content{
        margin-top: 21px;
    }
}


.project-desc{
    &__inner{
        display: flex;
        margin-top: 42.5px;
    }
    &__text-block{
        width: 100%;
    }
    &__item{
        display: flex;
        align-items: center;
        min-height: 18px;
        margin-bottom: 16px;
        &--date{
           .project-desc__item-desc{
               width: 200px;
           } 
        }
        &--repeat{
            margin-bottom: 0;
            .project-desc__item-title{
                width: 85px;                
            }
            .project-desc__item-desc{
                position: relative;
                padding-left: 25px;
                white-space: nowrap;
                &:before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../img/repeat.png);
                    left: 0;

                }
            }
        }
        &--reminder{
            margin-bottom: 0;
            .project-desc__item-title{
                width: 85px;                
            }
            .project-desc__item-desc{
                position: relative;
                padding-left: 25px;
                white-space: nowrap;
                &:before{
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 16.5px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../img/reminder.png);
                    left: 0;

                }
            }
        }
        &--desc{
            align-items: flex-start;
        }
    }
    &__item-title{
        width: 15%;
    }
    &__item-desc{
        display: flex;
        align-items: center;
        width: 85%;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        *{
            margin-right: 10px;
        }
    }
    &__img-block{
        width: 250px;
        height: 150px;
        border-radius: 5px;
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    &__img-title{
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}
.participant-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    transition: .3s;
    
    &__avatar-block{
        display: block;
        margin-right: 9px;
        width: 18px;
        height: 18px;
        border: 1px solid $black;
        border-radius: 4px;
    }

    &__avatar{
        display: block;
        width: 100%;
        height: 100%;
    }    

}

.team-item{
    display: flex;
    align-items: center;
    font-weight: 500;
    &__logo-block{
        display: block;
        margin-right: 9px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
    }

    &__logo{
        display: block;
        width: 100%;
        height: 100%;
    }  
    &--1{
        .team-item__logo-block{
            background-color: #59bec2;
        }
    }
    &--2{
        .team-item__logo-block{
            background-color: #ad4da5;
        }
    }
}
.priority{
    &--normal{
        color: $green;
    }
    &--high{
        color: $red;
    }
    &--low{
        color: $orange;
    }
}

.project-tasks{
    &--completed{
        .project-tasks__tr:nth-child(2) .project-tasks__td{
            padding-top: 15px;
            border-top: none;
        }
    }
    &__table{
        width: 1170px;
        font-weight: 300;
        text-align: left;
        vertical-align: bottom;
        border-spacing: 0;
    }
    &__tr{
        &:nth-child(2){
            .project-tasks__td{
                border-top: 1px solid $black;
                padding-top: 25px;
            }
        }
    }
    &__th{
        padding-bottom: 10px;        
        &--comments{
            text-align: right;
            padding-right: 30px;
        }
    }
    &__td{
        padding-bottom: 15px;
        padding-right: 30px;
        vertical-align: bottom;
        min-width: 19px;
        &:first-child{
            width: 27%;
        }
        &:last-child{
            padding-right: 0;
        }
        &:first-child, &:nth-child(2), &:nth-child(3){
            font-weight: 500;
        }
        &--comments{
            text-align: right;
        }

    }
    &__th-img{
        width: 17px;
        height: 18px;
    }
    &__completed-counter{
        display: flex;
        align-items: center;
        padding-top: 28px;
        padding-bottom: 10px;
        border-top: 1px solid #b9e0c2;
    }
    &__button-toggle{
        margin-left: 36px;
        max-width: 100px;
        width: 100%;
        min-height: 23px;
        text-align: center;
        border-radius: 4px;
        background-color: #b9e0c2;
        &::before{
            content: 'Hide';
        }
        &.hide{
            &::before{
                content: 'Show';
            }
        }
    }
}
.status-item{
    position: relative;
    padding-left: 18px;
    &:before{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 0;
        border-radius: 2px;
        transform: translateY(-50%);
    }
    &--correction{
        &:before{
            background-color: #818dc1;
        }
    }
    &--production{
        &:before{
            background-color: #ce82d7;
        }
    }
    &--reading{
        &::before{
            background-color: #dad078;
        }
    }
    &--design{
        &::before{
            background-color: #db8686;
        }
    }
    &--copywrite{
        &::before{
            background-color: #7ed5c8;
        }
    }
    &--complete{
        &::before{
            background-color: #8dd98b;
        }
    }   
}

.footer{
    &__inner{
        display: flex;
        margin-top: 50px;
        padding: 7px 36px;
        align-items: center;
        justify-content: space-between;
        background-color: #c3d5dc;
        border-radius: 16px 16px 0 0;
        font-weight: 300;
    }
    &__link{
        border-bottom: 1px solid transparent;
        transition: .3s;
        &:hover{
            border-color: $black;
        }
    }
    &__link + &__link{
        margin-left: 40px;
    }
}