@import "_vars";
@import "_libs";
@import "_fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    font-family: 'Geometria', sans-serif;
    color: $black;
    height: 100vh;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;  
}

ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;    
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.input{
    padding: 0 10px;
    border: 1px solid $black;
    border-radius: 4px;
    height: 23px;
    background-color: transparent;
}

.header{
    &__inner{
        display: flex;
        padding: 15px 36px;
        align-items: center;
        background-color: #c3d5dc;
        border-radius: 0 0 16px 16px;
        @include for-lg{
            padding: 15px 20px;
        }
    }
    &__logo{
        margin-right: 62.5px;
        @include for-lg{
            margin-right: 30px;
        }
    }
    &__profile{
        margin-left: 15px;
        @include for-md{
            
            margin-top: 15px;
            margin-left: 0;
            text-align: center;
        }
    }
    &__search{
        margin-left: auto;
        @include for-md{
            text-align: center;
            margin: 15px auto 0;
        }
    }
    &__menu{
        margin-right: 19px;
        @include for-md{
            margin-right: 0;
        }
    }
}
.logo{
    display: block;
    flex-shrink: 0;
    width: 76px;
    height: 28px;
    &__img{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.search{
    &__input{
        max-width: 170px;
    }
}

.menu-block{
    display: flex;
    align-items: center;
    width: 100%;
    @include for-md{
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: $white;
        padding: 20px 15px;
        width: 100%;
        height: 50vh;
        left: 0;
        top: 0;
        background-color: #c3d5dc;
        border-radius: 0 0 16px 16px;
        z-index: 20;
    }
}

.nav-toggle{
    display: none;
    margin-left: auto;
    z-index: 30;
    @include for-md{
        display: block;
    }
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: $black;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 3px;
    width: 23px;
    margin-bottom: 4px;
    border-radius: 1px;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}


.opened .bar-top {
    background-color: $black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 5% 50%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    background-color: $black;
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 10% 50%;
}

.menu{
    width: 100%;
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20px;
        @include for-md{
            flex-direction: column;
        }
    }
    &__list-project{
        position: relative;
    }
    &__list-project-total{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -15px;
        top: -9px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: #d4c460;
    }
    a{
        border-bottom: 1px solid transparent;
        transition: .3s;
        &:hover{
            border-color: black;
        }
    }
    li + li{
        @include for-md{
            margin-top: 15px;
        }
    }
}
.main{
    padding-top: 29px;
}

.profile{
    font-size: 16px;
    line-height: 20px;    
    transition: .3s;
    &__link{
        border-bottom: 1px solid transparent;
        &:hover{
            border-color: $black;
        }
    }
    
}
.title-block{
    display: flex;
    align-items: flex-end;
    padding-top: 25px;
}
.page-title{
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
}
.sticker{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    line-height: 14px;
    border-radius: 4px;
    width: 22px;
    height: 12px;
    right: -32px;
    top: -2px;
    &--new{
        background-color: #d4c460;
    }
}
.title-menu{
    position: relative;
    padding-left: 10px;
    text-align: left;
        &__button{
            position: relative;
            width: 12px;
            height: 9px;
            z-index: 10;
            &::before, &::after{
                content: '';
                position: absolute;
                left: 0;
                width: 12px;
                height: 3px;
                background-color: $black;
                transition: .3s;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
        }
        &__button.active{
            &::before{
                transform: rotate(45deg) translate(10%, 100%);
            }
            &:after{
                transform: rotate(-45deg) translate(6%, -100%);
            }
        }
    &__list{
        position: absolute;
        display: none;
        border: 2px solid $black;
        border-radius: 4px;
        top: -5px;
        left: 0;
        padding: 25px 8px 14px;
        background-color: $white;
        width: 119px;
    }
    &__list-button{
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
    }

    
}
.project-page{
    &__category{
        position: relative;
        padding-left: 25px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        &:before, &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #c3a57d;
        }
    }

    &__tabs{
        display: flex;
        align-items: center;
        margin-top: 37.5px;
        @include for-md-mob{
            margin-top: 15px;
            flex-direction: column;
        }
    }

    &__tab{
        padding: 15px 32.5px 12px;
        border: 1px solid #868e9b;
        // border-right: none;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        border-bottom-color: $black;
        &:last-child{
            @include for-md-mob{
                border: 1px solid #868e9b;
                
            }
        }
        &.active{
            position: relative;
            background-color: #bbc2ce;
            border-color: $black;
            .project-page__title-menu-button{
                display: inline-block;
            }
        }
        @include for-md-mob{
            width: 100%;
            border-bottom: none;
            border-radius: 0;
        }
    }
    &__tab + &__tab{
        margin-left: -2px;
        @include for-md-mob{
            margin-left: 0;
        }
    }

    &__title-menu-button{
        display: none;
    }
    
    &__title-menu{
        width: 150px;
    }
    &__tab-content{
        margin-top: 21px;
    }
}
.project-desc{
    &__inner{
        display: flex;
        margin-top: 42.5px;
        @include for-md{
            flex-direction: column-reverse;
        }
    }
    &__text-block{
        width: 100%;
    }
    &__item{
        display: flex;
        align-items: center;
        min-height: 18px;
        margin-bottom: 16px;
        @include for-sm{
            flex-direction: column;
            align-items: flex-start;
        }
        &--date{
           .project-desc__item-desc{
               width: 200px;
           } 
        }
        &--repeat{
            margin-bottom: 0;
            .project-desc__item-title{
                width: 85px;                
            }
            .project-desc__item-desc{
                position: relative;
                padding-left: 25px;
                white-space: nowrap;
                &:before{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../img/repeat.png);
                    left: 0;

                }
            }
            @include for-sm{
                margin-top: 16px;
            }
        }
        &--reminder{
            margin-bottom: 0;
            .project-desc__item-title{
                width: 85px;                
            }
            .project-desc__item-desc{
                position: relative;
                padding-left: 25px;
                white-space: nowrap;
                &:before{
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 16.5px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../img/reminder.png);
                    left: 0;

                }
            }
            @include for-sm{
                margin-top: 16px;
            }
            
        }
        &--desc{
            align-items: flex-start;
        }
    }
    &__item-title{
        width: 15%;
        @include for-sm{
            width: 100%;
        }
    }
    &__item-desc{
        display: flex;
        align-items: center;
        width: 85%;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        *{
            margin-right: 10px;
        }
        @include for-sm{
            width: 100%;
        }
    }
    &__img-block{
        width: 250px;
        height: 150px;
        border-radius: 5px;
        @include for-md{
            margin:  0 auto;
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    &__img-title{
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}
.participant-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
    transition: .3s;
    
    &__avatar-block{
        display: block;
        margin-right: 9px;
        width: 18px;
        height: 18px;
        border: 1px solid $black;
        border-radius: 4px;
    }

    &__avatar{
        display: block;
        width: 100%;
        height: 100%;
    }    

}
.team-item{
    display: flex;
    align-items: center;
    font-weight: 500;
    &__logo-block{
        display: block;
        margin-right: 9px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
    }

    &__logo{
        display: block;
        width: 100%;
        height: 100%;
    }  
    &--1{
        .team-item__logo-block{
            background-color: #59bec2;
        }
    }
    &--2{
        .team-item__logo-block{
            background-color: #ad4da5;
        }
    }
}
.priority{
    &--normal{
        color: $green;
    }
    &--high{
        color: $red;
    }
    &--low{
        color: $orange;
    }
}

.project-tasks{
    overflow-x: scroll;
    &--completed{
        .project-tasks__tr:nth-child(2) .project-tasks__td{
            padding-top: 15px;
            border-top: none;
        }
        .project-tasks__tr:first-child{
            .project-tasks__td{
                padding: 0;
            }
        }
    }
    &__table{
        position: relative;
        width: 1170px;        
        font-weight: 300;
        text-align: left;
        vertical-align: bottom;
        border-spacing: 0;
        
    }
    &__tr{
        &:nth-child(2){
            .project-tasks__td{
                border-top: 1px solid $black;
                padding-top: 15px;
            }
        }
    }
    &__th{
        padding-bottom: 10px;        
        &--comments{
            text-align: right;
            padding-right: 30px;
        }
        &--end-date{
            position: relative;
            cursor: pointer;
            padding-right: 23px;
            &::after{
                content: '';
                position: absolute;
                width: 15px;
                height: 9px;
                background-image: url(../img/arrow-top.png);
                background-size: cover;
                background-repeat: no-repeat;
                top: 0;
                right: 0;
                transform: translateY(70%);
            }
        }
    }
    &__td{
        position: relative;
        padding-bottom: 15px;
        padding-right: 30px;
        vertical-align: bottom;
        min-width: 19px;
        &:first-child{
            width: 27%;
        }
        &:last-child{
            padding-right: 0;
        }
        &:first-child, &:nth-child(2), &:nth-child(3){
            font-weight: 500;
        }
        &:nth-child(2), &:nth-child(3){
            width: 14%;
        }
        &:nth-child(4){
            width: 80px;
        }
        &:nth-child(5){
            width: 127px;
        }
        &:nth-child(6){
            width: 127px;
        }
        &--comments{
            text-align: right;
        }

    }
    &__th-img{
        width: 17px;
        height: 18px;
    }
    &__completed-counter{
        display: flex;
        align-items: center;
        padding-top: 28px;
        padding-bottom: 10px;
        border-top: 1px solid #b9e0c2;
    }
    &__button-toggle{
        margin-left: 36px;
        max-width: 100px;
        width: 100%;
        min-height: 23px;
        text-align: center;
        border-radius: 4px;
        background-color: #b9e0c2;
        &::before{
            content: 'Hide';
        }
        &.hide{
            &::before{
                content: 'Show';
            }
        }
    }
    &__calendar{
        font-weight: 300;
        border: none;
        width: 100%;
    }
    &__select{
        font-weight: 300;
        line-height: 18px;
        padding: 0;
        border: none;
        height: auto;
        &:after{
            display: none;
        }
    }
    &__priority-list{
        position: absolute;
        margin-top: 4px;
        padding: 10px 0;
        display: none;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 4px;
    }
    &__priority-list-item{
        padding: 0 8px;
        line-height: 18px;
        font-weight: 300;
        cursor: pointer;
        & + &{
            margin-top: 5px;
        }
    }
    &__sticker{
        right: -26px;
    }

    &__td-list{
        position: absolute;
        margin-top: 4px;
        padding: 10px 8px;
        display: none;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 4px;
        z-index: 10;
    }
    &__td-list-item{
        line-height: 18px;
        font-weight: 300;
        cursor: pointer;
        & + &{
            margin-top: 5px;
        }
    }
    &__td-list-open{
        cursor: pointer;
    }
    &__assigned-to{
        position: absolute;
        display: none;
        left: -10px;
        top: 0;
        z-index: 10;
    }
    &__assigned-to-input{
        
        padding: 0 10px;
        max-width: 136px;
        width: 100%;
        height: 33px;
        border-radius: 4px;
        border: 1px solid $black;
        
    }
    &__assigned-to-button{
        cursor: pointer;
    }
    &__td-name{
        position: relative;
    }
    
}


.status-item{
    display: flex;
    align-items: center;
    position: relative;
    &__color{
        margin-right: 6px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
    }   
    // &--correction{
    //     &:before{
    //         background-color: #818dc1;
    //     }
    // }
    // &--production{
    //     &:before{
    //         background-color: #ce82d7;
    //     }
    // }
    // &--reading{
    //     &::before{
    //         background-color: #dad078;
    //     }
    // }
    // &--design{
    //     &::before{
    //         background-color: #db8686;
    //     }
    // }
    // &--copywrite{
    //     &::before{
    //         background-color: #7ed5c8;
    //     }
    // }
    // &--complete{
    //     &::before{
    //         background-color: #8dd98b;
    //     }
    // }   
}

.footer{
    &__inner{
        display: flex;
        margin-top: 50px;
        padding: 7px 36px;
        align-items: center;
        justify-content: space-between;
        background-color: #c3d5dc;
        border-radius: 16px 16px 0 0;
        font-weight: 300;
        @include for-md-mob{
            flex-direction: column-reverse;
        }
    }
    &__right-links{
        @include for-md-mob{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__link{
        border-bottom: 1px solid transparent;
        transition: .3s;
        &:hover{
            border-color: $black;
        }
    }
    &__link + &__link{
        margin-left: 40px;
        @include for-md-mob{
            margin-left: 0;
            margin-top: 10px;
        }
    }
    &__copy{
        @include for-md-mob{
            margin-top: 10px;
        }
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Geometria', sans-serif;
    font-weight: 300;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    max-width: 22px;
    height: 22px;
}
.ui-state-active{
    background-color: #758eb8 !important;
}
.ui-datepicker td{
    text-align: right;
    padding: 0;
}
.ui-datepicker .ui-datepicker-header{
    padding: 0;
}
.ui-widget.ui-widget-content{
    padding: 8px 13px;
    border: 1px solid $black;
    border-radius: 4px;
    max-width: 230px;
    width: 100%;
}
.ui-datepicker th{
    display: none;
}
.ui-widget-header{
    background-color: $white;
    border: none;
}
.ui-datepicker{
    padding: 0;    
}
.ui-datepicker .ui-datepicker-title{
    text-align: left;
    margin: 0;
}
.ui-datepicker td span, .ui-datepicker td a{
    padding: 0;
}
.ui-datepicker-calendar tr{
    &:first-child{
        .ui-datepicker-week-end{
            &:nth-child(6){
                border-radius: 4px 0 0 0;
            }
            &:last-child{
                border-radius: 0 4px 0 0;
            }
        }
    }
    &:last-child{
        .ui-datepicker-week-end{
            &:nth-child(6){
                border-radius: 0 0 0 4px;
            }
            &:last-child{
                border-radius: 0 0 4px 0;
            }
        }
    }
    
}
.ui-datepicker-week-end {
    background-color: #dddedd;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
    opacity: 1;
}
.ui-datepicker .ui-datepicker-next{
    width: 10px;
    height: 15px;
    background-image: url(../img/calendar-next.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ui-datepicker .ui-datepicker-prev{
    width: 10px;
    height: 15px;
    background-image: url(../img/calendar-prev.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 43px;
    left: auto;
}
.datepicker{
    cursor: pointer;
}

